.wishlist-container{
    background-color: var(--container-background-color);
    width: 97%;
    margin-left: auto;
}

.products{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-heading{
    margin: 0.5rem;
    display: flex;
    justify-content: center;
}