.product-container{
    background-color: gray;
    width: 88%;
    margin-left: 1rem;
}

.products{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-heading{
    margin: 0.5rem;
    display: flex;
}
