.main-body{
    width: 100%;
    display: flex;
    justify-content: center;
}


.signup-body{
    background-color: var(--container-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 95%;
}

.signup-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid rgba(128, 128, 128, 0.425);
    background-color: white;
    width: 20rem;
}


.signup-heading{
    text-align: center;
    margin: 1rem;
}

.name-input-container{
    width: 90%;
}

.name-input{
    border: 2px solid rgba(36, 34, 34, 0.185);
    width: 100%;
    height: 4vh;
    margin-bottom: 1.5rem;
    background-color: rgba(218, 216, 216, 0.541);
}

.email-input-container{
    width: 90%;
}

.email-input{
    border: 2px solid rgba(36, 34, 34, 0.185);
    width: 100%;
    height: 4vh;
    margin-bottom: 1.5rem;
    background-color: rgba(218, 216, 216, 0.541);
}

.Password-input{
    border: 2px solid rgba(36, 34, 34, 0.185);
    width: 100%;
    height: 4vh;
    margin-bottom: 1rem;
    background-color: rgba(218, 216, 216, 0.541);
}

.password-container{
    position: relative;
    height: 4vh;
    margin-bottom: 1rem;
}

.show-password-Btn{
    position: absolute;
    background-color: rgb(238, 235, 235);
    top: 13%;
    right: -0.6%;
    padding: 0.5rem;
    z-index: 2;
}

.forgot-password{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.signup-Btn{
    background-color: var(--Btn-background-color);
    width: 100%;
    padding: 0.7rem;
    margin: 1rem 0;
}

.new-account{
    margin: 1rem;
}

.signup-Btn:hover,
.signup-Btn:focus{
    background-color: var(--primary-color);
    color: var(--text-color);
}