.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    height: 45vh;
    border: 2px solid rgb(233, 230, 230) ;
    margin: 1rem 0 3rem;
}


.card-container{
    position: relative;
    width: 19rem;
    background-color: white;
    margin:0.5rem;
    margin-bottom:2rem;
}


.card-Img{
    width: 90%;
    height: 25vh;
    margin: 1rem;
}

.card-text{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 19vh;
}

.heart-Btn{
    position: absolute;
    right: 9%;
    top: 9%;
    width: 3rem;
    height: 2.9rem;
    border-radius: 50%;
    background-color: rgba(167, 164, 164, 0.842);
}

.fa-heart{
    font-size: 15px;
}


.Added-Btn{
    position: absolute;
    right: 9%;
    top: 9%;
    width: 3rem;
    height: 2.9rem;
    border-radius: 50%;
    color: var(--primary-color);
    background-color: rgb(231, 227, 227);
}

.product-price,.card-name{
    font-weight: bold;
}


.card-Btn{
    background-color: var(--primary-color);
    color: var(--text-color);
    width: 100%;
    padding: 0.7rem;
}

.Added-cart-Btn{
    background-color: rgb(42, 97, 87);
    color: var(--text-color);
    box-sizing: border-box;
    width: 100%;
    padding: 0.6rem;
}

.bBtn{
    background-color: rgb(42, 97, 87);
    color: var(--text-color);
}

.cards:hover{
    transition: .5s;
    box-shadow: 5px 5px 5px  rgb(140, 140, 148);
};
