
*{
  padding:0;
  margin:0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 100vh;
}


:root{
  --primary-color: rgb(121, 2, 2);
  --text-color: white; 
  --container-background-color:rgba(235, 231, 231, 0.486);
  --Btn-background-color:rgba(128, 128, 128, 0.801);
}

body{
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
  color:var(--alt-text-color);
}

button{
  outline:none;
  border:none;
  cursor: pointer;
}

ol,ul{
  list-style: none;
}

a{
  text-decoration: none;
  cursor: pointer;
}


